* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100vw;
}

header .first_section_header {
  display: flex;
  color: white;
  background-color: #0282f9;
  height: 4vh;
  justify-content: flex-end;
  align-items: center;
}

header .first_section_header span {
  text-transform: uppercase;
  margin-left: 15px;
  margin-right: 5%;
  font-size: 0.7rem;
  font-weight: bold;
}

header .second_section_header {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
}

header .second_section_header img {
  height: 50px;
}

header .second_section_header ul {
  display: flex;
  align-items: center;
}

header .second_section_header ul li {
  display: inline-block;
  text-transform: uppercase;
  padding: 10px;
}

header .second_section_header ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

header .second_section_header ul li a:hover {
  color: #0282f9;
  text-decoration: underline;
}

main .hero {
  height: 40vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/jumbotron.jpg");
  background-size: cover;
}

main .current_series_section {
  height: 55vh;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main .current_series_section span {
  text-transform: uppercase;
  padding: 15px;
  background-color: #0282f9;
  margin-left: 10%;
  margin-right: auto;
  margin-top: -25px;
  font-weight: bold;
  color: white;
}

main .current_series_section .card_container {
  height: 80%;
  width: 80%;
  margin: 30px auto;
  border: 1px dotted cadetblue;
}

main .current_series_section button {
  width: 10%;
  padding: 5px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 auto;
  background-color: #0282f9;
  color: white;
  margin-bottom: 10px;
}

